@import "../../style/variaveis";
@import "../../style/mixins";

editorias {
    padding: 16px;
    padding-bottom: 5em;
    overflow: hidden;

    .editorias__header {
        text-align: center;
        margin: auto;
            margin-top: 16px;
            margin-bottom: 10px;
            .filtro {
                display: flex;
            }
            .filtro__item {
                text-align: right;
                margin-right: 27px;
                margin-left: 10px;
                label {
                    font-family: "Verdana";
                    font-size: 15px;
                    color: #7D7575;
                }
            }
        
        @include mq('tablet-small') {
            display: flex;
            justify-content: space-between;
        }
    }
    .noticias {
        display: flex;
        flex-wrap: wrap;
        @include mq('tablet') {
            justify-content: space-around;
        }
        @include mq('tablet-wide') {
            justify-content: space-between;
        }
        .noticia__content {
            align-items: center;
            clear: both;
            height: auto;
            margin: auto;
            @include mq('tablet-small') {
                margin: 1em;
            }
            @include mq('tablet-wide') {
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:nth-child(3n +1){
                        margin-left: 0;
                    }
            }
            .noticia__item {
                display: flex;
                width: 277px;
                padding-left: 31px;
                border-left: 4px solid #ad2222;
                flex-direction: column;
                margin-top: 3em;
                .noticia__item--header .item__header--data {
                    float: left;
                    margin-bottom: 5px;
                }
                .noticia__item--header .item__header--editoria {
                    font-weight: bold;
                    float: right;
                    margin-bottom: 5px;
                }
                .noticia__item--img {
                    padding-bottom: 0.5em;
                }
                .noticia__item--titulo {
                    font-weight: bold;
                    font-size: 2em;
                    margin-bottom: .3em;
                    padding-top: .3em;
                }
                .noticia__item--conteudo {
                    margin-bottom: .3em;
                    p {
                        margin-bottom: .3em;
                    }
                    a {
                        font-size: 1.3em;
                        font-weight: bold;
                        color: inherit;}
                }
            }
        }
    }

}

