$colors: (
  primary:    #ad3535,
  secondary:  #00913C,
  backgColor: rgb(235, 236, 236),
  font-color: #F7F7F7,
  danger:     red,
  search:     #2F6AA2,
  light:      #f4f4f4,
  dark:       #2A2A2A
);